<nav
  class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default font-poppins shadow-sm"
>
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="text-[#8B5E35] text-2xl lg:text-3xl xl:text-4xl font-serif font-light tracking-tight"
        >Trendify</span
      >
    </a>

    <div class="flex xl:order-2 space-x-2 md:space-x-3 rtl:space-x-reverse items-center">
      <div class="hidden xl:flex space-x-3 rtl:space-x-reverse">
        @if (isLogin === false) {
          <button
            routerLink="/login"
            type="button"
            class="cursor-pointer text-[#8B5E35] w-[140px] xl:w-[164px] h-[50px] xl:h-[58px] rounded-full box-border border border-[#8B5E35] shadow-xs font-medium leading-5 text-sm px-3 py-2 hover:bg-[#8B5E35]/5 transition-all"
          >
            login
          </button>
          <button
            routerLink="register"
            type="button"
            class="cursor-pointer text-white w-[140px] xl:w-[164px] h-[50px] xl:h-[58px] rounded-full bg-[#8B5E35] hover:bg-[#734d2c] box-border border border-transparent shadow-xs font-medium leading-5 text-sm px-3 py-2 transition-all ml-3"
          >
            sign up
          </button>
        } @else {
          <button
            type="button"
            class="cursor-pointer text-white w-[140px] xl:w-[164px] h-[50px] xl:h-[58px] rounded-full bg-[#8B5E35] hover:bg-[#734d2c] box-border border border-transparent shadow-xs font-medium leading-5 text-sm px-3 py-2 transition-all ml-3"
          >
            sign out
          </button>
        }
      </div>

      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-body rounded-base xl:hidden hover:bg-neutral-secondary-soft focus:outline-none"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14"
          />
        </svg>
      </button>
    </div>

    <div
      class="items-center justify-between hidden w-full xl:flex xl:w-auto xl:order-1"
      id="navbar-cta"
    >
      <ul
        class="font-medium flex flex-col p-4 xl:p-0 mt-4 border border-default rounded-base bg-white xl:flex-row xl:space-x-8 rtl:space-x-reverse xl:mt-0 xl:border-0 xl:bg-transparent"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="!text-[#8B5E35] font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="!text-[#8B5E35] font-bold"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >Services</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="!text-[#BE7B3D] font-bold"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >Products</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="!text-[#8B5E35] font-bold"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >About us</a
          >
        </li>
        <li>
          <a
            routerLink="/blog"
            routerLinkActive="!text-[#8B5E35] font-bold"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >Blog</a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="!text-[#8B5E35] font-bold"
            class="block py-2 px-3 text-slate-400 xl:p-0 hover:text-amber-600 transition-colors"
            >Contact us</a
          >
        </li>

        <li class="xl:hidden pt-4 mt-4 border-t border-gray-100 flex flex-col space-y-3">
          @if (isLogin === false) {
            <button
              routerLink="/login"
              type="button"
              class="cursor-pointer text-[#8B5E35] w-full h-[50px] rounded-full border border-[#8B5E35] font-medium text-sm hover:bg-[#8B5E35]/5 transition-all"
            >
              login
            </button>
            <button
              routerLink="register"
              type="button"
              class="cursor-pointer text-white w-full h-[50px] rounded-full bg-[#8B5E35] font-medium text-sm hover:bg-[#734d2c] transition-all"
            >
              sign up
            </button>
          } @else {
            <button
              type="button"
              class="cursor-pointer text-white w-full h-[50px] rounded-full bg-[#8B5E35] font-medium text-sm hover:bg-[#734d2c] transition-all"
            >
              sign out
            </button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
